@model IEnumerable<BVA.Models.Annons>

@{  
    ViewData["Title"] = "Home Page";  
}  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $('input:checkbox').change(function() {
            console.log("Change event: " + this.id+ $(this).prop('checked'));
            console.log(this.name)
            if (this.name==='Prod')
            $.ajax({
                type: "Post",
                    url: "@Url.Action("checkboxProd")",
                data: { id: this.id, val: $(this).prop('checked') },
                success: function (result) {
                        console.log("success")
                },
                error: function (req, status, error) { console.log(status) }
            });
            else
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("checkboxTest")",
                    data: { id: this.id, val: $(this).prop('checked') },
                    success: function (result) {
                        console.log("success")
                    },
                    error: function (req, status, error) { console.log(status) }
                });
})
    });
  </script>
<h4 class="text-center text-uppercase">Lista över annonser</h4>

<p>  
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i>Lägg till ny</a>
</p>  
<table class="table table-bordered">  
    <thead>  
    <tr>   <th>@Html.DisplayNameFor(model => model.Picture)</th> 
        <th>@Html.DisplayNameFor(model => model.Name)</th>  
        <th>@Html.DisplayNameFor(model => model.Publishing_date)</th>  
        <th>@Html.DisplayNameFor(model => model.End_date_of_publication)</th>  
        <th>@Html.DisplayNameFor(model => model.Priority)</th>  
        <th>@Html.DisplayNameFor(model => model.Place)</th>
            <th>@Html.DisplayNameFor(model => model.municipality)</th>
        <th>@Html.DisplayNameFor(model => model.Url)</th>
        <th>Delete</th>
            <th>Edit</th>
         <th>Prod</th>
            <th>Test</th>
    </tr>  
    </thead>  
    <tbody>  
    @foreach (var annons in Model)  
    {  
        <tr>  
            <td>  
                    <img src="~/images/@annons.Picture"
                     class="rounded-circle"   
                     height="40" width="40"   
                     asp-append-version="true" />  
              
            </td>  
                <td>@annons.Name</td>
                <td>@annons.Publishing_date</td>
                <td>@annons.End_date_of_publication</td>
                <td>@annons.Priority</td>
                <td>@annons.Place</td>
                <td>@annons.municipality</td>
                <td>@annons.Url</td>
            <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@annons.Id">Ta bort</a>
                 
            </td>  
            <td>
                    <a class="btn btn-danger" asp-controller="Adds" asp-action="Editor" asp-route-id="@annons.Id" asp-route-Picture="@annons.Picture">Edit</a>
                 
            </td> 
            <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="Prod" type="checkbox" id="@annons.Id" checked="@annons.Enable">
               <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>
                 
            </td>
                <td>
                    <div class="form-check form-switch ">
                        <input class="form-check-input Test" Name="Test" type="checkbox" id="@annons.Id" checked="@annons.TestEnable">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>

                </td>
        </tr>  
    }  
    </tbody>  
</table>   